body {
  background: #262626;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

.separator {
  width: 30%;
}

.title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.contact-list{
  text-align: center;
}

.contact-list li {
  width: auto;
  display: inline;
}

.title a {
  color: #DB4D57;
}
.title a:hover {
  text-decoration: none;
  font-weight: bold;
}
.title hr {
  width: 75%;
}

.summary {
  text-align: justify;
  padding: 20px;
}
.summary p {
  margin-top: 20px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.work-experience {
  padding-left: 100px;
  padding-right: 100px;
  padding: 10px;
}

.work-experience ul {
  padding-left: 20px;
}

.work-experience h2 {
  text-align: center;
}

.work-experience .experience-title {
  margin-top: 20px;
}

.work-experience .experience-summary {
  margin-top: 10px;
  margin-bottom: 30px;
}
.work-experience p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}


.skills-prog {
  margin-top: 30px;
  clear: both;
}

.skills-prog h2 {
  margin-top: 30px;
}

.skills-prog ul {
  margin-top: 30px;
  padding-left: 0px ;
}

.skills-prog ul li {
  margin-bottom: 16px;
  display: flex;
  transition-duration: 0.3s;
}
.skills-prog ul li:hover {
  color: #e07a5f;
}
.skills-prog ul li:hover .skills-bar .bar {
  background: #e07a5f;
  box-shadow: 0 0 0 1px #e07a5f;
}
.skills-prog ul li span {
  display: block;
  width: 120px;
}
.skills-prog ul li .skills-bar {
  background: #cdcdcd;
  height: 8px;
  width: calc(100% - 120px);
  position: relative;
  margin-left: 20px;
  border-radius: 4px;
}
.skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 8px;
  background: #8d9e78;
  box-shadow: 0 0 0 #8d9e78;
  border-radius: 5px;
}

.interests {
  margin-top: 50px;
}

.interests h2 {
  margin-top: 50px;
}

.resume_hobby ul {
  padding-left: 0px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.resume_hobby ul li {
  width: 80px;
  list-style: none;
  height: 80px;
  border: 2px solid #8d9e78;
  border-radius: 50%;
  position: relative;
  color: #8d9e78;
}

 .resume_hobby ul li i {
  font-size: 30px;
}

.resume_hobby ul li:last-child:before {
  display: none;
}

.resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  margin-top: 20px;
}

.contact a {
  color: #fff;
  background: #db6e82;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
  padding-top: 4px;
  margin: 0 4px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.contact a:hover {
  background: #ef92a3;
}

/* pop-up text */

.contact a span {
  color: #fff;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #666;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.contact a span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

/* text pops up when icon is in hover state */

.contact a:hover span {
  bottom: 35px;
  visibility: visible;
  opacity: 1;
}

/* font awesome icons */

.contact a:nth-of-type(1):before {
  content: "\40";
}
.contact a:nth-of-type(2):before {
  content: "\f09b";
}
.contact a:nth-of-type(3):before {
  content: "\f08c";
}



.footer {
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
